# Best for newer NVIDIA GPUs. Includes CUDA/cuDNN runtime packages from PyPI.
# Do not use this for Quadro P400/Pascal on Windows; use DirectML instead.
fastapi==0.110.0
uvicorn==0.27.1
python-multipart==0.0.9
onnxruntime-gpu[cuda,cudnn]==1.26.0
opencv-python==4.9.0.80
numpy==1.26.4
imageio-ffmpeg==0.5.1
decord==0.6.0
torch>=2.5.1
torchvision>=0.20.1
cython
gitpython>=3.1
thinplate @ git+https://github.com/cheind/py-thin-plate-spline
hickle>=5.0
tensorboard>=2.11
Pillow>=9.5
scipy>=1.7
pycocotools>=2.0.7
tqdm>=4.66.1
gdown>=4.7.1
einops>=0.6
hydra-core>=1.3.2
charset-normalizer>=3.1.0
easydict
av>=0.5.2
requests
